<h1>Angular Calculator</h1>

 <form (ngSubmit)="addValues()" #myForm="ngForm" >

  <h2>Sum</h2>  
  <div> <input type="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$" [(ngModel)]="sNum1" name="number" #number="ngModel"> + 
  <input type ="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$" [(ngModel)]="sNum2" name="number" #number="ngModel" >
  
  <div [hidden]="number.valid || number.pristine">
        Invalid input.
  </div>
  <p *ngIf="number?.errors?.pattern">
        Only numeric inputs are allowed.</p>
  <button (click) = "addValues()" [disabled]="!myForm.form.valid">=</button>
  <h2 *ngIf="result">{{sNum1}} + {{sNum2}} = {{result}} </h2>  
  </div>

    <!-- <div *ngIf="result"> -->
     <!-- </div> -->

  <!-- <h1> {{sNum1}} + {{sNum2}} = {{result}}</h1> -->

</form>

  <h2>Difference</h2>  
  <p> <input type="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$" [(ngModel)]="dNum1" [ngModelOptions]="{standalone: true}"> - 
  <input type ="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$" [(ngModel)]="dNum2" [ngModelOptions]="{standalone: true}">
  <button (click) = "substractValues()">=</button>
  </p>
  <h1> {{differenceResult}}</h1>

  <h2>Product</h2>  
  <p> <input type="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$" [(ngModel)]="pNum1" [ngModelOptions]="{standalone: true}"> + 
  <input type ="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$" [(ngModel)]="pNum2" [ngModelOptions]="{standalone: true}">
  <button (click) = "multiplyValues()">=</button>
  </p>
  <h1> {{productResult}}</h1>

  <h2>Quotient</h2>  
  <p> <input type="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$" [(ngModel)]="qNum1" [ngModelOptions]="{standalone: true}"> + 
  <input type ="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$" [(ngModel)]="qNum2" [ngModelOptions]="{standalone: true}">
  <button (click) = "divideValues()">=</button>
  </p>
  <h1> {{quotientResult}}</h1>

  