<h1>Angular Calculator</h1>

<form (ngSubmit)="addValues(); sForm.reset()" #sForm="ngForm">

  <h2>Sum</h2>

  <div class="wrapper">

    <div class="div1">
      <input class="number-input" type="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$" [(ngModel)]="sNum1" name="snumber1" #snumber1="ngModel">
      &nbsp; + &nbsp;
      <input class="number-input" type="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$" [(ngModel)]="sNum2" name="snumber2" #snumber2="ngModel">
      &nbsp;&nbsp;<button (click)="resetmultiplyValues(); resetdivideValues(); resetsubstractValues()" [disabled]="!sForm.form.valid">=</button>
    </div>

    <div class="div2" *ngIf="additionResult">
      {{sNumber1}} + {{sNumber2}} = {{additionResult}}
    </div>

  </div>

  <p class="error" *ngIf="(snumber1?.errors?.pattern) || (snumber2?.errors?.pattern) ">
    *A number is required.</p>
</form>

<form (ngSubmit)="substractValues(); dForm.reset()" #dForm="ngForm">

  <h2>Difference</h2>

  <div class="wrapper">

    <div class="div1">
      <input class="number-input" type="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$" [(ngModel)]="dNum1" name="dnumber1" #dnumber1="ngModel">
      &nbsp; - &nbsp;
      <input class="number-input" type="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$" [(ngModel)]="dNum2" name="dnumber2" #dnumber2="ngModel">
      &nbsp;&nbsp;<button (click)="resetaddValues(); resetdivideValues(); resetmultiplyValues()" [disabled]="!dForm.form.valid">=</button>
    </div>

    <div class="div2" *ngIf="differenceResult">
      {{dNumber1}} - {{dNumber2}} = {{differenceResult}}
    </div>

  </div>

  <p class="error" *ngIf="(dnumber1?.errors?.pattern) || (dnumber2?.errors?.pattern) ">
    *A number is required</p>

</form>

<form (ngSubmit)="multiplyValues(); pForm.reset()" #pForm="ngForm">

  <h2>Product</h2>

  <div class="wrapper">

    <div class="div1">
      <input class="number-input" type="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$" [(ngModel)]="pNum1" name="pnumber1" #pnumber1="ngModel"> 
      &nbsp; * &nbsp;
      <input class="number-input" type="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$" [(ngModel)]="pNum2" name="pnumber2" #pnumber2="ngModel">
      &nbsp;&nbsp;<button (click)="resetaddValues(); resetdivideValues(); resetsubstractValues()" [disabled]="!pForm.form.valid">=</button>
    </div>

    <div class="div2" *ngIf="productResult">
      {{pNumber1}} * {{pNumber2}} = {{productResult}}
    </div>

  </div>

  <p class="error" *ngIf="(pnumber1?.errors?.pattern) || (pnumber2?.errors?.pattern) ">
    *A number is required</p>

</form>

<form (ngSubmit)="divideValues(); qForm.reset()" #qForm="ngForm">

  <h2>Quotient</h2>

  <div class="wrapper">

    <div class="div1">
      <input class="number-input" type="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$" [(ngModel)]="qNum1" name="qnumber1" #qnumber1="ngModel"> 
      &nbsp; / &nbsp;
      <input class="number-input" type="text" pattern="^[+-]*[0-9]*[\.]?[0-9]*$" [(ngModel)]="qNum2" name="qnumber2" #qnumber2="ngModel">
      &nbsp;&nbsp;<button (click)="resetaddValues(); resetmultiplyValues(); resetsubstractValues()" [disabled]="!qForm.form.valid">=</button>
    </div>

    <div class="div2" *ngIf="quotientResult">
      {{qNumber1}} / {{qNumber2}} = {{quotientResult}}
    </div>

  </div>

  <p class="error" *ngIf="(qnumber1?.errors?.pattern) || (qnumber2?.errors?.pattern) ">
    *A number is required</p>

</form>
